footer {
  margin-top: 10vmax;
  padding: 2vmax;
  color: white;
  position:static;
  background-color: tomato;
  bottom: 0;
  right: 0;
  left: 0;
}

.midFooter {
  text-align: center;
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: ;
  color: #eb4034;
}
.midFooter > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}



